body {
    font-family: monospace;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
}

.text_input {
	padding: 50px 50px 10px 50px;
}

#list {
	width:15%;
    padding:1em;
    margin:0 auto;
}

ul li {
  text-align: left;
}

#text {
	padding: 10px;
	border-radius: 10px;
	border-color: #7EC0EE;
	border-style: solid;
	outline: none;
	font-family: monospace;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

#found {
	margin-top: 30px;
	height: 10px;
}

.add, .check {
    margin-top: 20px;
    background-color: white;
    border-color: #ADD8E6;
    border-width: 3px;
    border-style: solid;
    border-radius: 25px;
    padding: 10px 20px;
    outline: none;
    color: #8aacb8;
	width: 100px;
}

.add:hover, .check:hover {
    border-color: #8aacb8;
    color: #8aacb8;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}